*{
	padding:0;
	margin:0;
}
.center > h1{
	font-size:5em;
	color:white;
}
.row  h1{
	font-size:5em;
	color:white;
	text-shadow:1px 2px #22c3aa,2px 4px #aee2d9;
}
/***********************/
/***nav***/
.navbar-fixed-top{
	border-width:0;
}
.navbar-header .navbar-brand{
color:white;
font-size:1.2em;
}
.navbar-header .navbar-brand:hover{
color:white;
font-size:1.4em;
}
#nav{
	background:rgba(34,34,34,0.9);
	color:white;
}
#example-navbar-collapse ul li a{
color:white;
font-size:1.2em;
}
#example-navbar-collapse ul li a:hover{
	background:rgba(255,255,255,0.8);
	color:black;
	font-size:1.2em;	
}
#example-navbar-collapse .navbar-nav .open a{
	color:black;
	font-size:1.2em;
}
#example-navbar-collapse .navbar-nav .dropdown ul li a{
	color:black;
	font-size:1em;
}
#example-navbar-collapse .navbar-nav .dropdown ul li a:hover{
	background:#DDD;
	color:black;
	font-size:1em;
}
#example-navbar-collapse .navbar-nav .dropdown ul {
 margin:0;
 padding:0;
}

/****************/
/****************************************/
/*模块1开始*/
.center{
	text-align:center;
}
.r{
	float:right;
}
.picture {
width: 100px;
height:100px;
transform: rotate(45deg);
overflow: hidden;
margin:auto;
border: 10px solid #aee2d9;
}

.picture > img {
width: 100px;
height:100px;
max-width: 100%;
transform: rotate(-45deg) scale(1.42);
}


#title{
	font-size:5em;
	color:white;
	text-shadow:1px 2px #22c3aa,2px 4px #aee2d9;
}
.typing a {
color: white;
transition: 1s;
text-decoration:none;
}
.typing a:hover {
text-shadow: 0 0 .1em, 0 0 .3em;
}
.center > h4{
font-family:"黑体",sans-serif;
font-size:1.5em;
color:#AEE2D9;
}
#home > p{
font-family:"黑体",sans-serif;
font-size:1em;
}
#subtitle{
	font-size:2em;
	color:yellow;
}
#home p > a{
	font-family:"黑体",sans-serif;
	font-size:1.3em;
	text-decoration:none;
	color:#AEE2D9;
}
#home p > a:hover{
	color:white;
	text-shadow:0 0 .03em;
}
h6  > a{
	font-family:"黑体",sans-serif;
	font-size:1em;
	text-decoration:none;
	color:white;
}
h6  > a:hover{
	font-size:1em;
	text-decoration:none;
	color:yellow;
}
/*模块1结束*/
/**************************/
/*模块2开始*/
#skills  .row{
	/*background:url('images/Vieste_ZH.jpg') fixed;*/
}
#skills .row .center{
	border:.1em solid blue;
}
.tag-panel {
    margin: 15px auto;
}
.tag {
	font-family: Lato,"Microsoft YaHei",sans-serif;
	font-weight: 400;
	font-size: 1.1em;
    background-color: #096254;
    color: #aee2d9;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 3px;
    margin-bottom: 3px;
    opacity: 0.5;
}
.tag .tag1{
	opacity:1;
	filter:Alpha(opacity=100)
}
.tag .tag2{
	opacity:0.50;
	filter:Alpha(opacity=50)
}
/*模块2结束*/
/**************************/
/*模块3开始*/
h4 {
    font-size: 1.25em;
    margin: 0 0 0.1em 0;
    margin-top: 0;
}
p {
    font-size: 1.1em;
    margin: 0.5em 0;
}
.section {
    color: #eef3f0;
}
/*模块3结束*/
/**************************/
/*模块4开始*/

/*模块4结束*/
/**************************/
/*模块5开始*/
/*模块5结束*/
/**************************/		
@media (min-width: 768px) {	
  .navbar-nav {
  float:right;
  margin-right:50px;
			}
	.m1{
	background:rgba(34,195,172,0.85);
	}
}
@media (max-width: 400px) {
.navbar-header .navbar-brand{
color:#333;
font-size:1.2em;
}
.navbar-header .navbar-brand:hover{
color:#333;
font-size:1.2em;
text-shadow:0 0 .1em;
}		
#nav{
	background:white;
}
#example-navbar-collapse ul li a{
color:black;
font-size:1.2em;
}
#example-navbar-collapse ul li a:hover{
	background:#DDD;
	color:black;
	font-size:1.2em;	
}
#example-navbar-collapse .navbar-nav .open a{
	color:black;
	font-size:1.2em;
}
#example-navbar-collapse .navbar-nav .dropdown ul li a{
	color:black;
	font-size:1em;
}
#example-navbar-collapse .navbar-nav .dropdown ul li a:hover{
	background:#DDD;
	color:black;
	font-size:1em;
}
#example-navbar-collapse .navbar-nav .dropdown ul {
 margin:0;
 padding:0;
}
	.row .typing{
		display:none;
	}
}
/********************/

